<div class="form-group">
  <label>{{localize "MKA.AdvancementCustomTitle"}}</label>
  <div class="form-fields">
    <input type="text" name="data.title" value="{{data.title}}" placeholder="{{default.title}}">
  </div>
</div>

<div class="form-group">
  <label>{{localize "MKA.AdvancementCustomIcon"}}</label>
  <div class="form-fields">
    {{filePicker type="image" target="data.icon"}}
    <input type="text" name="data.icon" value="{{data.icon}}" placeholder="{{default.icon}}">
  </div>
</div>

{{#if showClassRestrictions}}
  <div class="form-group">
    <label>{{localize "MKA.AdvancementClassRestriction"}}</label>
    <div class="form-fields">
      <select name="data.classRestriction">
        {{#select data.classRestriction}}
          <option value="">{{localize "MKA.AdvancementClassRestrictionNone"}}</option>
          <option value="primary">{{localize "MKA.AdvancementClassRestrictionPrimary"}}</option>
          <option value="secondary">{{localize "MKA.AdvancementClassRestrictionSecondary"}}</option>
        {{/select}}
      </select>
    </div>
  </div>
{{/if}}

{{#if showLevelSelector}}
  <div class="form-group">
    <label>{{localize "MKA.Level"}}</label>
    <div class="form-fields">
      <select name="data.level" data-dtype="Number">
        {{selectOptions levels selected=data.level}}
      </select>
    </div>
  </div>
{{/if}}
