<form autocomplete="off" onsubmit="event.preventDefault();">
    {{> "mka.trait-list" prefix="choices"}}

    {{#if customPath}}
        <div class="form-group stacked">
            <label>{{localize "MKA.TraitSelectorSpecial"}}</label>
            <input type="text" name="{{customPath}}" value="{{custom}}">
        </div>
    {{/if}}

    {{#if bypassesPath}}
        <h3>{{localize "MKA.DamagePhysicalBypass"}}</h3>
        <p class="note">{{localize "MKA.DamagePhysicalBypassHint"}}</p>
        {{> "mka.trait-list" choices=bypasses prefix="bypasses"}}
    {{/if}}

    <button type="submit"><i class="far fa-save"></i> {{localize "MKA.TraitSave"}}</button>
</form>
