<div class="traits">
    <div class="form-group">
        <label>{{localize "MKA.Size"}}</label>
        <select class="actor-size" name="system.traits.size">
            {{#select system.traits.size}}
            {{#each config.actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    {{#unless isVehicle}}
    <div class="form-group">
        <label>{{localize "MKA.Senses"}}</label>
        <a class="config-button" data-action="senses" title="{{localize 'MKA.SensesConfig'}}">
            <i class="fas fa-cog"></i>
        </a>
        <ul class="traits-list">
        {{#each senses as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{system.traits.languages.cssClass}}">
        <label>{{localize "MKA.Languages"}}</label>
        <a class="trait-selector" data-options="languages" data-target="system.traits.languages"
           title="{{localize 'MKA.TraitConfig' trait=(localize 'MKA.Languages')}}" tabindex="0">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each system.traits.languages.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>
    {{/unless}}

    <div class="form-group {{system.traits.di.cssClass}}">
        <label>{{localize "MKA.DamImm"}}</label>
        <a class="trait-selector" data-options="damageResistanceTypes" data-target="system.traits.di"
           title="{{localize 'MKA.TraitConfig' trait=(localize 'MKA.DamImm')}}" tabindex="0">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each system.traits.di.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{system.traits.dr.cssClass}}">
        <label>{{localize "MKA.DamRes"}}</label>
        <a class="trait-selector" data-options="damageResistanceTypes" data-target="system.traits.dr"
           title="{{localize 'MKA.TraitConfig' trait=(localize 'MKA.DamRes')}}" tabindex="0">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each system.traits.dr.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{system.traits.dv.cssClass}}">
        <label>{{localize "MKA.DamVuln"}}</label>
        <a class="trait-selector" data-options="damageResistanceTypes" data-target="system.traits.dv"
           title="{{localize 'MKA.TraitConfig' trait=(localize 'MKA.DamVuln')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each system.traits.dv.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{system.traits.ci.cssClass}}">
        <label>{{localize "MKA.ConImm"}}</label>
        <a class="trait-selector" data-options="conditionTypes" data-target="system.traits.ci"
           title="{{localize 'MKA.TraitConfig' trait=(localize 'MKA.ConImm')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each system.traits.ci.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    {{#if isCharacter}}
    <div class="form-group {{system.traits.weaponProf.cssClass}}">
        <label>{{localize "MKA.TraitWeaponProf"}}</label>
        <a class="proficiency-selector" data-type="weapon" data-target="system.traits.weaponProf"
           title="{{localize 'MKA.TraitConfig' trait=(localize 'MKA.TraitWeaponProf')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each system.traits.weaponProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{system.traits.armorProf.cssClass}}">
        <label>{{localize "MKA.TraitArmorProf"}}</label>
        <a class="proficiency-selector" data-type="armor" data-target="system.traits.armorProf"
           title="{{localize 'MKA.TraitConfig' trait=(localize 'MKA.TraitArmorProf')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each system.traits.armorProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{system.traits.toolProf.cssClass}}">
        <label>{{localize "MKA.TraitToolProf"}}</label>
        <a class="proficiency-selector" data-type="tool" data-target="system.traits.toolProf"
           title="{{localize 'MKA.TraitConfig' trait=(localize 'MKA.TraitToolProf')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each system.traits.toolProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>
    {{/if}}

    {{#unless isVehicle}}
    <div class="form-group ">
        <label>{{localize "MKA.SpecialTraits"}}</label>
        <a class="config-button" data-action="flags"
           title="{{localize 'MKA.TraitConfig' trait=(localize 'MKA.SpecialTraits')}}">
            <i class="fas fa-cog"></i>
        </a>
    </div>
    {{/unless}}
</div>
